<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
       <title>Tuto fabrice AngularJS</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../script/angular.min.js"></script>

    <script src="../script/customService.js"></script>
    <link rel="stylesheet" href="../styles/main.css">
      <link rel="stylesheet" href="../styles/styles.css">
  </head>

  <body>
    <div class="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">Tutofab AngularJS</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="../index.html">Home</a></li>
          <li><a href="page1.html">Name calculator</a></li>
          <li><a href="page2.html">Depency injection</a></li>
          <li ><a href="page3.html">Minification</a></li>
          <li><a href="page4.html">Expression and Interpolation</a></li>
          <li><a href="page5.html">Shopping list</a></li>
          <li class="active"><a href="page6.html">Custom service</a></li>
          <li><a href="page7.html">Custom service factory</a></li>
          <li><a href="page8.html">Template Expanding Directive</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container" >
    <div ng-app='ShoppingListApp'>
      <h1>Custom Service</h1>
      <div ng-controller='ShoppingListAddController as itemAdder'>
       <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
       <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
       <button ng-click="itemAdder.addItem();">Add Item To Shopping List</button>
     </div>

     <div ng-controller='ShoppingListShowController as showList'>
       <ol>
         <li ng-repeat="item in showList.items">
           {{ item.quantity }} of {{ item.name }}
           <button ng-click="showList.removeItem($index);">Remove Item</button>
         </li>
       </ol>
     </div>
   </div>
</div>


    <div class="footer">
      <div class="container">
      <span>tutofab@2017</span>
    </div>
    </div>

</body>
</html>
